// Color palettes
$palettes: (
  iron: (bg: #14171a,
    fg: #cdd3d8,
    comment: #838c97,
    blue: #8fa6b8,
    cyan: #7fa5a8,
    green: #93a388,
    orange: #bcab8d,
    red: #ae8b8b,
    yellow: #afa88c,
    magenta: #9a93a8,
  ),
);
