{% extends "base.html" %}

{% block title %}{% if section.title %}{{ section.title }} - {% endif %}{{ config.title }}{% endblock title %}

{% block content %}
<section>
  {% if section.title %}
  <h1>{{ section.title }}</h1>
  {% endif %}
  <div>
    {{ section.content | safe }}
  </div>
</section>

{% if config.extra.zolagray.home_list_latest_blog_posts | default(value=true) %}
{% set posts = [] %}
{% if "blog/_index.md" in section.subsections %}
{% set blog_section = get_section(path="blog/_index.md") %}
{% set posts = blog_section.pages %}
{% endif %}
{% if posts %}
{% include "partials/post_list.html" %}
{% else %}
<p>No blog posts found.</p>
{% endif %}
{% endif %}
{{ super() }}
{% endblock content %}
