{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>
<div>
  {{ section.content | safe }}
</div>
{% if paginator %}{% set posts = paginator.pages %}{% else %}{% set posts = section.pages %}{% endif %}
{% include "partials/post_list.html" %}

{% if paginator %}
<nav>
  {% if paginator.previous %}
  <a href="{{ paginator.previous }}">&lt; Prev</a>
  {% endif %}
  <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
  {% if paginator.next %}
  <a href="{{ paginator.next }}">Next &gt;</a>
  {% endif %}
</nav>
{% endif %}
{{ super() }}
{% endblock content %}
